@media only screen and (max-width: 64.063em) { 

.row.full-width.banner { height: auto; }
.row.full-width.header { height: auto; }
.left-head-block { margin: 5px 0; }
.right-head-block { margin: 5px 0; }
main { padding: 10px 0; }
.main-menu-block { border: none !important; }
.not-front .row.full-width.main { position: relative; top: auto; }
.row.full-width-slider { padding: 0; top: 0; }
.md-arrow-left, .md-arrow-right { top: 23%; }
.slogan-banner-block p { font-size: 1.1em; }

} /* max-width 1025px, large screens, mobile-only styles, use when QAing mobile issues */

@media only screen and (max-width: 760px) { 

h1.title { font-size: 3.5vw; }

}